feedparser==6.0.0
pip==23.3.1
dateparser==1.1.8
numpy
matplotlib
pandas
tensorflow
scikit-learn
pandas-datareader
yahoo_fin
yfinance
scikit-learn
torch
chardet
transformers
xgboost
statsmodels
pmdarima
bokeh
langdetect
pygooglenews==0.1.2



